<div>
  <data-table id="my-table" [title]="'Histórico de Consultas'" [items]="historic" [itemCount]="historic.length" [indexColumn]="false" (reload)="getData($event)">
    <data-table-column [property]="'date'" [header]="'Data'"></data-table-column>
    <data-table-column [property]="'origin'" [header]="'DDD Origem'"></data-table-column>
    <data-table-column [property]="'destiny'" [header]="'DDD Destino'"></data-table-column>
    <data-table-column [property]="'duration'" [header]="'Duração'"></data-table-column>
    <data-table-column [property]="'plan'" [header]="'Plano'"></data-table-column>
    <data-table-column [property]="'price'" [header]="'Com FaleMais'">
        <ng-template #dataTableCell let-item="item">
            $ {{item.price}}
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'normalPrice'" [header]="'	Sem FaleMais'">
        <ng-template #dataTableCell let-item="item">
            $ {{item.normalPrice}}
        </ng-template>
    </data-table-column>
  </data-table>
</div>
