<div class="row">
  <div class="col-md-3 offset-md-3">
    <div class="centralized-content">
        <h1 class="title">BliiveTell</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>DDD de Origem</label>
            <select class="form-control" formControlName="origin">
              <option [value]="null" disabled>Selecione um DDD de origem</option>
              <option *ngFor="let ddd of ddds" [value]="ddd">{{ddd}}</option>
            </select>
            <div class="invalid-feedback" [hidden]="!(!form.controls['origin'].valid && form.controls['origin'].touched)">É preciso informar um DDD de origem</div>
          </div>
          <div class="form-group">
            <label>DDD de Destino</label>
            <select class="form-control" formControlName="destiny">
              <option [value]="null" disabled>Selecione um DDD de destino</option>
              <option *ngFor="let ddd of ddds" [value]="ddd">{{ddd}}</option>
            </select>
            <div class="invalid-feedback" [hidden]="!(!form.controls['destiny'].valid && form.controls['destiny'].touched)">É preciso informar um DDD de destino</div>
          </div>
          <div class="form-group">
            <label>Duração da ligação(min)</label>
            <input type="number" class="form-control" min="0" formControlName="duration" placeholder="Duração">
            <div class="invalid-feedback" [hidden]="!(!form.controls['duration'].valid && form.controls['duration'].touched)">A duração precisa ser maior que zero</div>
          </div>
          <div class="form-group">
            <label>Plano</label>
            <select class="form-control" formControlName="plan">
              <option [value]="null" disabled>Selecione um Plano</option>
              <option *ngFor="let plan of plans" [value]="plan">{{plan}}</option>
            </select>
            <div class="invalid-feedback" [hidden]="!(!form.controls['plan'].valid && form.controls['plan'].touched)">É necessário selecionar um plano</div>
          </div>
          <div class="form-row">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-confirm"  [disabled]="!form.valid" >Calcular</button>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 text-center">
            </div>
          </div>
        </form>
    </div>

  </div>
  <div class="col-md-6 result">
    <div class="centralized-content">
        <div class="result_primary" *ngIf="result != null && result != undefined">
            Com {{form.get('plan').value}}
            <br>
            $ {{result | number : '1.2-2'}}
          </div>
          <div class="result_no_plan" *ngIf="resultNoPlan">
            Sem FaleMais
            <br>
            $ {{resultNoPlan}}
          </div> 
    </div>
  </div>
</div>
