@font-face {
	font-family: "WorkSans";
	src: url("../work-sans/WorkSans-Regular.ttf")
}
@font-face {
	font-family: "WorkSans-SemiBold";
	src: url("../work-sans/WorkSans-SemiBold.ttf")
}
@font-face {
	font-family: "WorkSans-Light";
	src: url("../work-sans/WorkSans-Light.ttf")
}
