.ring-1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed $white;
  border-radius: 100%;
}

.load .ring-1 {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}

.load{
  .load-message{
    border-left: 4px solid $white;
    padding-left: 15px;

  }
}
@keyframes loadingD {
  0 {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
