@import "colors";
@import "fonts";
@import "mixes";
@import "titles";
@import "forms";
@import "result";
@import "buttons";
@import "message";
@import "table";

body {
  margin: 0;
  font-family: "Roboto";
  color: $text-color;

  ::-moz-selection {
    @include green-color-selection();
  }

  ::selection {
    @include green-color-selection();
  }
}
