.message {
  border-radius: 3px;
  color: $white;
  display: inline-flex;
  font-size: 0.8rem;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px 10px;
  width: 80%;

  .message-text {
    width: 80%;
  }

  .message-button {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    font-size: 13px;
    text-align: right;
    width: 20%;

    &:hover,
    &:active,
    &:focus {
      font-size: 13px;
      color: $white;
      outline: none;
    }
  }
}

.message-error {
  background-color: $danger-color;
}
