.result {
  background-image: linear-gradient(-225deg, $primary-color, $secondary-color);
  color: $white;
  font-family: "FjallaOne";
  font-size: 25px;
  height: 97vh;
  line-height: 1.1;
  ::-moz-selection {
    @include white-color-selection();
  }
  ::selection {
    @include white-color-selection();
  }

  .result_primary {
    border-left: 8px solid $white;
    font-size: 85px;
    padding-left: 15px;
  }

  .result_message {
    border-left: 8px solid $white;
    font-size: 55px;
    padding-left: 15px;
  }

  .result_no_plan {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    height: inherit;
    padding: 40px 10px;
    margin-bottom: 50px;
  }
}
