.table {
  margin-bottom: 65px;

  thead {
    th {
      background-color: $primary-color;
      border: none;
      color: #fff;
      font-family: "Roboto-Light";
    }
  }

  td {
    border: none;
  }
}
