.table {
  margin-bottom: 65px;
  thead {
    th {
      background-color: $primary-color;
      color: #fff;
      font-family: 'Roboto-Light';
      border: none;
    }
  }
  td {
    border: none;
  }
}


